@media only screen and (min-width: 1000px){
    #about-us-main{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 293px;
        margin-bottom: 120px;
        background-color: #222222;
        background-image: url('../Images/pexels-cottonbro-5379062.jpg');
        .ultimate-header{
            display: block;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 2.8px;
            color: #FFFFFF;
            padding-left: 5px;
        }
        .home-main-text {
            width: 100%;
            padding-top: 30px;
            padding-left: 0;
            padding-right: 70px;
            margin-left: 0;
            font-size: 72px;
            letter-spacing: -3.6px;
            color: #FFFFFF;
        }
        .about-navigator-container{
            display: flex;
            align-self: flex-end;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 60px;
            background-color: #FFFFFF;
            .about-navigator-tag{
                padding: 0 10px;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: -0.48px;
            }
            #home-tag-about{
                border-right: 1px solid #222222;
            }
            #about-tag-about{
                color: #BEAD8E;
                
            }
        }

        
    }
    .inverted-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .about-us-intro-section{
        margin: 0 20% 80px;
        .inverted-container{
            .about-us-video{

                height: 650px;
            }
            .section-body-center{
                font-size: 72px;
                margin-bottom: 104px;
            }
        }
        .services-grid{
            .service-card{
                min-width: 200px;
            }
            .service-card-negative{
                min-width: 200px;
            }
        }
    }
    .facilities-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 128px 0;
        margin-bottom: 118px;
        min-height: 1149px;
        #facilities{
            padding: 0;
            margin: 0;
            margin-bottom: 26px;
            font-size: 14px;
            letter-spacing: 2.8px;
        }
        #core-features{
            margin: 0;
            margin-bottom: 62px;
            padding: 0;
            font-size: 80px;
        }
        #features-grid{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 0 20%;
            .features-card{
                width: 370px;
                height: 349px;
                .features-icon-row{
                    .features-icon{
                        padding: 0;
                        margin: 60px 60px 37px;
                        height: 70px;
                        width: 70px;
                        font-size: 70px;
                    }
                    .features-number{
                        font-size:120px;
                        margin: -30px -10px;
                    }
                }
                .features-title{
                    padding: 0;
                    margin: 0;
                    margin-left: 57px;
                    margin-bottom: 28px;
                    font-size: 30px;
                    letter-spacing: -0.9px;
                }
                .features-description{
                    margin: 0 60px 0 57px;
                    padding: 0;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
            #extra-card{
                display: block;
            }
        }
    }

    .counter-section{
        margin: 0 20% 118px;
        .counter-container{
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 61px;
            .counter-card{
                height: 134px;
                width: 370px;
                margin: 0;
                .counter-icon{
                    padding-left: 40px;
                    padding-right: 0;
                    font-size: 60px;   
                }
                .count-and-text{
                    .counter-number{
                        font-size: 60px;
                    }
                    .counter-text{
                        font-size: 16px;
                    }
                }
                .counter-arrow{
                    font-size: 40px;
                    padding: 0;
                    margin-right: 20px;
                }
            }
        }
        .counter-image-row{
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 20px;
            max-width: 1170px;
            height: 400px;
            margin: 0 auto;
            .counter-image{
                background: #DFDFDF 0% 0% no-repeat padding-box;
                object-fit: cover;
                min-width: 100%;
                height: 400px;
            }
        }
    }
    #about-blog-section{
        margin: 0 20% 260px;
        display:flex;
        flex-direction: column;
        align-items: center;

        .blog-button-line{
            display: none;
        }
        .post-container{
            display: flex;
            flex-direction: row;
            .post{
                margin-right: 20px;
            }
        }
    }

}