.contact-form-section { 
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
	.contact-form-container { 
        width: 80%;
        padding: 15px 0;
		.contact-form-input { 
            width: 100%;
            font-size: 10px;
            text-align: left;
            padding: 15px 30px;
            margin: 5px;
            letter-spacing: 0px;
            color: #777777;
            border: none;
            background: #F8F8F8 0% 0% no-repeat padding-box;
            &:focus{
                outline: none;
                border-color: #bead8e;
            }
		}
        .enter-message{
            padding-bottom: 100px;
        }
	}
    .center{
        margin-top: 0;
    }
}
.contact-navigator-container{
    display: none;
}

.contact-information-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .contact-information-card{
        width: 75%;
        display: flex;
        align-items: center;
        text-align: left;
        padding: 20px 0;
        .contact-information-count{
            position: absolute;
            z-index: -1;
            margin-left: 75%;
            left: -17px;
            font-size: 60px;
            font-weight: 700;
            color: #F8F8F8;
        }
        .contact-information-icon{
            padding-right: 15px;
            color: #bead8e;
            font-size: 40px;
        }
        .contact-information-text{
            width: 100%;
            padding-left: 5px;
            .contact-information-text-title{
                font-size: 18px;
                font-family: 'Old Standard TT', sans-serif;
                padding-bottom: 5px;
            } 
            .contact-information-text-description{
                font-size: 12px;
                color: #777777;
                flex-wrap: wrap;
            }
        }

    }
}


.satelite-map{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background-color: grey;
}

