@media only screen and (min-width: 1000px) {
  #contact-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 293px;
    margin-bottom: 120px;
    background-color: #222222;
    .ultimate-header {
      display: block;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2.8px;
      color: #ffffff;
      padding-top: 0;
      padding-left: 5px;
    }
    .home-main-text {
      width: 100%;
      padding-top: 30px;
      padding-left: 0;
      padding-right: 70px;
      margin-left: 0;
      font-size: 72px;
      letter-spacing: -3.6px;
      color: #ffffff;
    }
    .contact-navigator-container {
      display: flex;
      align-self: flex-end;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 60px;
      background-color: #ffffff;
      .contact-navigator-tag {
        padding: 0 10px;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.48px;
      }
      #home-tag-contact {
        color: #222222;
        border-right: 1px solid #222222;
      }
      #about-tag-contact {
        color: #bead8e;
      }
    }
  }
  .flex {
    display: inline-flex;
    height: 700px;
    margin: 70px 0;
    .satelite-map {
      width: 1000px;
      height: 700px;
    }
    .custom-map-control-button {
      margin-bottom: 20px;
      width: 140px;
      height: 30px;
      font-size: 14px;
      cursor: pointer;
      color: #ffffff;
      border: none;
      background: #bead8e 0% 0% no-repeat padding-box;
      font-family: inherit;
      font-weight: 600;
      text-align: center;
      margin-right: 10px;
      box-shadow: 5px 2px 20px #afa7a7;
    }
    .column {
      max-width: 300px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-color: #f8f8f8;
      padding: 20px 20px;
      .community-dropdown {
        margin-bottom: 20px;
        width: 100%;
        min-height: 40px;
        font-size: 14px;
        cursor: pointer;
        color: #ffffff;
        border: none;
        background: #bead8e 0% 0% no-repeat padding-box;
        font-family: inherit;
        font-weight: 600;
        padding: 0 15px;
      }
      #find-near-location{
        display: none;
      }
      .geolocation-input {
        width: 100%;
        height: 40px;
        font-size: 14px;
        margin-bottom: 10px;
        border: none;
        padding: 0 5px;
        &:focus{
          outline: none;
        }
      }
    
      .geocode-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .search-loc {
          max-width: 100px;
          text-align: center;
        }
      }

      #sidebar {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .map-response-title {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        #response {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          height: 100%;
          .map-response-element {
            background-color: white;
            padding: 10px;
            font-size: 12px;
            color: #bead8e;
            font-weight: 500;
          }
        }
      }
    }
  }

  .contact-information-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .contact-information-card {
      position: relative;
      width: 370px;
      height: 189px;
      background-color: #ffffff;
      .contact-information-icon {
        font-size: 40px;
        padding: 0;
        margin-top: -60px;
        margin-left: 46px;
      }
      .contact-information-text {
        margin: 10px 56px 42px 21px;
        padding: 0;
        z-index: 1;
        .contact-information-text-title {
          font-size: 24px;
          padding-bottom: 5px;
        }
        .contact-information-text-description {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .contact-information-count {
        font-size: 150px;
        margin: 0;
        margin-left: 55%;
        bottom: 0;
        color: #e9e9e9;
        z-index: 0;
      }
    }
  }

  .contact-form-section {
    margin: 0 20% 140px;
    .contact-form-container {
      width: 970px;
      display: grid;
      grid-gap: 30px;
      padding: 0;
      margin-bottom: 30px;
      .contact-form-input {
        margin: 0;
        padding: 25px;
        font-size: 16px;
      }
      .full-name {
        grid-column-start: 1;
        grid-column-end: 2;
      }
      .mail-address {
        grid-column-start: 2;
        grid-column-end: 3;
      }
      .enter-message {
        display: flex;
        height: 250px;
        padding: 25px;
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
    .center {
      .wide-golden-button {
        width: 258px;
        height: 60px;
        font-size: 16px;
        letter-spacing: 3.2px;
        cursor: pointer;
      }
    }
  }


}
