footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    width: 100%;
    height: 100px;
    background: #111111 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    .copyright{
        font-weight: 700;
        font-size: 7.5px;
        letter-spacing: 1px;
        padding-left: 15px;
    }
    .logo-line{
        padding-right: 12px;
        text-align: center;
        .copy-icon{
            width: 37px;
            font-size: 12px;
            padding: 13px;
            background: #212121 0% 0% no-repeat padding-box;
        }
        :hover{
            background: #BEAD8E 0% 0% no-repeat padding-box;
        }
    }
}

