@media only screen and (min-width: 1000px) {
  .home-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    margin-top: 120px;
    padding: 0 14%;
    background-color: white;
    background-image: none;
    .home-main-container {
      .ultimate-header {
        display: block;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2.8px;
        color: #777777;
        padding-left: 5px;
      }
      .home-main-text {
        width: 100%;
        padding-top: 30px;
        padding-left: 0;
        padding-right: 70px;
        font-size: 100px;
        letter-spacing: -3.6px;
      }

      .home-main-button-line {
        padding-top: 30px;
        padding-left: 5px;

        #main-button-1 {
          font-size: 14px;
          letter-spacing: 2.8px;
          width: 200px;
          height: 50px;
          margin-right: 30px;
        }
        #main-button-2 {
          font-size: 14px;
          letter-spacing: 2.8px;
          width: 200px;
          height: 50px;
        }
      }
    }
    .full-screen-main-image {
      display: block;
      min-width: 50%;
      max-width: 669px;
      min-height: 669px;
      max-height: 700px;
      object-fit: cover;
    }
  }

  .book-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 60%;
    margin: 0 auto;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 14px 24px #8b8b8b0f;
    .check-in-line-panel {
      box-shadow: none;
      .check-in-panel {
        font-size: 16px;
        padding-bottom: 0;
        padding-left: 30px;
        .check-in-input {
          width: 240px;
          padding: 5px 0;
          color: #bead8e;
        }
      }
    }
    .book-button {
      font-size: 24px;
      width: 250px;
      height: 60px;
    }
  }

  .arrow-down-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 110px 0;
    .arrow-down-external {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 2px solid #e6e6e680;
      background: #22222200 0% 0% no-repeat padding-box;
      .arrow-down-internal {
        padding-top: 25px;
        font-size: 16px;
        color: white;
        width: 60px;
        height: 60px;
        background: #bead8e 0% 0% no-repeat padding-box;
        box-shadow: 0px 14px 24px #bead8e4d;
        border-radius: 50%;
      }
    }
  }

  .services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20%;
    .section-header {
      font-size: 14px;
      letter-spacing: 2.8px;
    }
  }
  .section-body-center {
    margin: 0 5%;
    padding: 0px;
    font-size: 80px;
    letter-spacing: -2.4px;
  }
  .services-grid {
    display: flex;
    justify-content: space-around;
    .service-card {
      width: 200px;
      height: 200px;
      .service-icon {
        font-size: 60px;
        width: 70px;
        height: 60px;
      }
      .service-card-text {
        font-size: 12px;
      }
    }
    .service-card-negative {
      width: 200px;
      height: 200px;
      .service-icon {
        width: 70px;
        height: 60px;
      }
      .service-card-text-negative {
        font-size: 12px;
      }
    }
    #bbq-party {
      display: block;
    }
    .second-height {
      margin-top: 100px;
    }
    .third-height {
      margin-top: 200px;
    }
  }

  .section-header {
    font-size: 14px;
    margin-left: 0;
  }
  .section-body {
    margin: 30px 0 0px;
    padding: 0;
    font-size: 80px;
    letter-spacing: -2.4px;
  }

  .room-type-section {
    margin: 300px 20%;
  }

  .room-type-grid {
    grid-gap: 15px;
    height: 575px;
    .room-type-grid-item {
      padding: 0;
      padding-left: 40px;
      .room-type-grid-data {
        padding-top: 200px;
        font-size: 14px;
        letter-spacing: 2.8px;
        .grid-icon {
          padding-right: 5px;
        }
      }
      .room-type-grid-title {
        font-size: 36px;
      }
    }
    #room-type-1 {
      background-image: url("../Images/pexels-max-vakhtbovych-6394711.jpg");
      grid-row-start: 1;
      grid-row-end: 3;
    }
    #room-type-2 {
      background-image: url("../Images/pexels-quark-studio-2507014.jpg");
      grid-row-start: 1;
      grid-row-end: 3;
    }
    #room-type-3 {
      background-image: url("../Images/pexels-cottonbro-6466490\ \(1\).jpg");
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 5;
    }
    #room-type-4 {
      display: block;
      padding-top: 300px;
      background-image: url("../Images/pexels-cottonbro-6466490\ \(1\).jpg");
      grid-row-start: 1;
      grid-row-end: 5;
    }
  }
  #view-all-button {
    display: block;
    margin: 40px auto;
    color: white;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2.8px;
    width: 255px;
    height: 60px;
    background: #bead8e 0% 0% no-repeat padding-box;
    border: none;
    box-shadow: 0px 14px 24px #bead8e66;
    cursor: pointer;
  }

  .call-to-action-section {
    margin: 300px 20% 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .tour-header {
      flex-direction: column;
      max-width: 45%;
      .paragraph-and-button {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        .action-paragraph {
          margin: 30px 0;
          font-size: 20px;
          line-height: 32px;
        }
        .action-button {
          width: 216px;
          height: 60px;
          font-size: 14px;
          letter-spacing: 2.8px;
        }
      }
    }
    .tour-advantages {
      max-width: 55%;
      .individual-advantage {
        margin: 33px 0;
        align-items: flex-start;
        .advantage-icon-frame {
          width: 120px;
          height: 120px;
          min-width: 120px;
          min-height: 120px;
          .advantage-icon {
            padding-top: 25px;
            font-size: 70px;
          }
        }
        .advantage-text-container {
          .advantage-title {
            font-size: 30px;
          }
          .advantage-paragraph {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
  }
  .border-bottom-advantages {
    height: 20px;
    width: 1100px;
    margin-bottom: 120px;
  }

  .carousel-section {
    height: 580px;
    margin-bottom: 239px;
    .carousel-detail-box {
      margin: 80px 375px;
      height: 400px;
      width: 370px;
      .carousel-detail-box-header {
        margin: 60px 40px 0;
        .carousel-detail-box-icon {
          font-size: 66px;
        }
        .carousel-detail-box-counter {
          font-size: 14px;
        }
      }
      .carousel-detail-box-title {
        font-size: 36px;
        padding: 0;
        margin-top: 40px;
        margin-left: 40px;
      }
      .carousel-detail-box-description {
        font-size: 14px;
        line-height: 26px;
        padding: 0;
        margin-top: 25px;
        margin-left: 40px;
      }
    }
  }

  .take-a-tour-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 238px 17%;
    .take-a-tour-text {
      display: flex;
      flex-direction: column;
      max-width: 50%;
      justify-content: left;
      padding-right: 100px;
      .take-a-tour-paragraph {
        padding: 0;
        margin: 25px 0;
        font-size: 14px;
        line-height: 24px;
      }
      #view-all-button {
        margin: 0;
        width: 216px;
        height: 60px;
      }
    }
    #discover-video {
      width: 45%;
    }
  }

  .testimonials-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .feedback-container {
      margin-top: 60px;
      margin-bottom: 150px;
      .feedback-card {
        max-width: 100%;
        width: 370px;
        height: 456px;
        .feedback-image {
          width: 150px;
          min-width: 150px;
          height: 150px;
          min-height: 150px;
          margin: 50px 110px 38px;
        }
        .feedback-name {
          margin-bottom: 16px;
          font-size: 30px;
          letter-spacing: -0.9;
        }
        .feedback-job {
          margin-bottom: 24px;
          font-size: 14px;
        }
        .feedback-description {
          margin-bottom: 41px;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    .testimonials-extra-panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 118px;
      width: 100%;
      height: 729px;
      font-size: 80px;
      .section-header {
        display: block;
        margin: 118px 0 34px;
        font-family: "Archivo", sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #bdac8d;
        letter-spacing: 2.8px;
      }
      .testimonials-extra-panel-title {
        max-width: 66%;
        margin-bottom: 30px;
      }
      .extra-panel-button-line {
        display: flex;

        .home-main-button {
          display: block;
          margin: 0 15px 120px;
          color: white;
          font-family: "Archivo", sans-serif;
          font-weight: 700;
          font-size: 14px;
          letter-spacing: 2.8px;
          width: 255px;
          height: 60px;
        }
        #main-button-1 {
          background: #bead8e 0% 0% no-repeat padding-box;
          border: none;
          box-shadow: 0px 14px 24px #bead8e66;
          cursor: pointer;
        }
        #main-button-2 {
          background: none;
          border: 2px solid #e0e0e0;
          cursor: pointer;
        }
      }
    }
  }

  .blog-section {
    margin: 0 20% 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .section-body-container {
      .blog-button-line {
        margin: 0;
        padding: 0;
        .blog-button {
          width: 70px;
          height: 70px;
          margin-left: 20px;
          .blog-arrow-left {
            font-size: 18px;
          }
          .blog-arrow-right {
            font-size: 18px;
            color: white;
          }
        }
      }
    }
    .post-container {
      display: flex;
      justify-content: space-around;
      .post {
        width: 370px;
        height: 516px;
        .post-image {
          width: 370px;
          height: 260px;
          margin-bottom: 30px;
        }
        .post-data {
          width: 285px;
          margin: 0 40px;
          padding: 0;
          font-size: 14px;
          margin-bottom: 19px;
        }
        .post-title {
          width: 285px;
          margin: 0 40px;
          padding: 0;
          font-size: 24px;
          letter-spacing: -0.72px;
          line-height: 34px;
          margin-bottom: 17px;
        }
        .post-description {
          width: 285px;
          margin: 0 40px;
          padding: 0;
          font-size: 16px;
          line-height: 26px;
        }
      }
    }
  }
  .subscribe-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .hotel-miranda-title {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      margin-bottom: 46px;
      width: 243px;
      font-size: 26px;
      letter-spacing: 2.6px;
      .hotel-bold {
        font-weight: bold;
      }
      .hotel-miranda-icon {
        display: block;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        font-size: 40px;
        font-weight: 700;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 14px 24px #8b8b8b1a;
      }
    }
    .subscribe-text {
      width: 720px;
      text-align: center;
      margin-bottom: 26px;
      color: #777777;
      font-size: 20px;
      line-height: 32px;
    }
    .subscribe-form {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 724px;
      height: 90px;
      margin-bottom: 120px;
      background: #f8f8f8 0% 0% no-repeat padding-box;
      .subscribe-input {
        width: 524px;
        height: 90px;
        padding: 37px 50px;
        text-align: left;
        color: #aeaeae;
        font-size: 16px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 3.2px;
        border: none;
        background: #f8f8f8 0% 0% no-repeat padding-box;
        &:focus {
          outline: none;
          border-color: #bead8e;
        }
      }
      .subscribe-button {
        width: 200px;
        height: 60px;
        margin: 15px;
        letter-spacing: 2.8px;
        color: white;
        font-size: 14px;
        font-weight: 700;
        border: none;
        background: #bead8e 0% 0% no-repeat padding-box;
        cursor: pointer;
      }
    }
  }

}
