.home-main {
  height: 300px;
  background-color: #e9e9e9;
  width: 100%;

  .home-main-text {
    width: 55%;
    padding-top: 40px;
    padding-left: 30px;
    font-size: 30px;
    font-family: "Old Standard TT", serif;
  }

  .home-main-button-line {
    padding-top: 120px;
    padding-left: 30px;

    #main-button-1 {
      color: white;
      font-weight: 700;
      font-size: 10px;
      width: 120px;
      height: 35px;
      background: #bead8e 0% 0% no-repeat padding-box;
      border: none;
      box-shadow: 0px 14px 24px #bead8e66;
      cursor: pointer;
    }
    #main-button-2 {
      color: #777777;
      font-weight: 700;
      font-size: 10px;
      width: 120px;
      height: 35px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 2px solid #e0e0e0;
      cursor: pointer;
    }
  }
}

.book-panel {
  margin-top: 10px;
  text-align: center;
  .check-in-line-panel {
    text-align: center;
    height: 70px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 14px 24px #8b8b8b0f;
    margin: 0px 20px 10px;
    .check-in-panel {
      margin: 0 20px;
      display: inline-block;
      font-weight: 700;
      font-size: 10px;
      padding-bottom: 40px;
      padding-left: 20px;
      border-left: 0.1px solid #bead8e;
      color: #777777;
    }
  }
  .book-button {
    color: white;
    font-family: "Old Standard TT", serif;
    font-size: 20px;
    width: 120px;
    height: 35px;
    background: #bead8e 0% 0% no-repeat padding-box;
    border: none;
    cursor: pointer;
  }
}

.section-header {
  margin: 10px 15px;
  display: inline-flex;
  font-weight: 700;
  font-size: 12px;
  color: #777777;
  .since {
    padding-right: 5px;
  }
  .year {
    color: #bead8e;
  }
}
.section-body-center {
  padding: 0px 10px 25px;
  text-align: center;
  font-family: "Old Standard TT", serif;
  font-size: 26px;
}
.services-grid {
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-gap: 20px 20px;
  .service-card {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 14px 24px #b8b8b81a;
    width: 150px;
    height: 150px;
    border: none;
    .service-icon {
      width: 40px;
      height: 40px;
    }
    .service-card-text {
      padding-top: 5px;
      color: #222222;
      font-size: 9px;
      font-weight: 700;
      letter-spacing: 2.4px;
    }
    &:hover {
      box-shadow: 5px 14px 24px #bead8e;
    }
  }
  .service-card-negative {
    background: #bead8e 0% 0% no-repeat padding-box;
    box-shadow: 0px 14px 24px #bead8e4d;
    width: 150px;
    height: 150px;
    border: none;
    .service-icon {
      width: 40px;
      height: 40px;
    }
    .service-card-text-negative {
      padding-top: 5px;
      color: white;
      font-size: 9px;
      font-weight: 700;
      letter-spacing: 2.4px;
    }
    &:hover {
      box-shadow: 5px 14px 24px #bead8e;
    }
  }
}

.section-body{
    padding: 0px 15px 15px;
    text-align: left;
    font-family: "Old Standard TT", serif;
    font-size: 26px;
}

.room-type-section{
    margin-top: 20px;
}

.room-type-nav{
    display: flex;
    justify-content: center;
    .room-type-nav-button{
        text-align: center;
        width: 80px;
        font-weight: 700;
        font-size: 10px;
        padding: 15px 10px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid white;
        color: #B6B6B6;
        &:hover{
            color: black;
            border: 2px solid #E6E6E6;
        }
    }
}

.room-type-image-grid{
    width: 100%;
    height: 400px;
    margin: 20px 0;
    background-color: grey;
}

.paragraph-and-button{
    display: flex;
    margin: 0 15px 30px;
    .action-paragraph{
        width:90%;
        color: #A08D69
    }
    .action-button{
        color: white;
        font-weight: 700;
        font-size: 8px;
        letter-spacing: 1.8px;
        width: 125px;
        height: 35px;
        background: black 0% 0% no-repeat padding-box;
        border: none;
        cursor: pointer;
    }
}

.tour-advantages{
    margin: 0 15px;
    .individual-advantage{
        margin: 15px 0;
        display: flex;
        align-items: center;

        .advantage-icon{
            width: 70px;
            height: 70px;
            padding: 10px;
            border-radius: 50%;
            box-shadow: 0px 8px 16px #BEAD8E33;
        }

        #negative-icon{
            background: #BEAD8E 0% 0% no-repeat padding-box;
            box-shadow: 0px 8px 16px #BEAD8E33;
        }

        .advantage-text-container{
            margin-left: 15px;
            margin-bottom: 15px;
            .advantage-title{
                font-size: 20px;
                margin-bottom: 7px;
                font-family: "Old Standard TT", serif;
                letter-spacing: -0.9px;
                color: #111111;
            }
            .advantage-paragraph{
                font-size: 12px;
                line-height: 15px;
                color: #777777;
            }
        }
    }
}

.border-bottom-advantages{
    margin: auto;
    width: 80%;
    height: 7px;
    background: #BEAD8E 0% 0% no-repeat padding-box;
}

.take-a-tour-paragraph{
  margin: 0 15px 20px;
  text-align: justify;
  padding-right: 70px;
  font-size: 12px;
  color: #777777;
}

