.home-main {
  height: 300px;
  background-image: url('../Images/pexels-ricardo-ortiz-6263634.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 100%;
  .ultimate-header{
    display: none;
  }

  .home-main-text {
    width: 55%;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 30px;
    font-family: "Old Standard TT", serif;
  }

  .home-main-button-line {
    padding-top: 120px;
    padding-left: 30px;

    #main-button-1 {
      color: white;
      font-weight: 700;
      font-size: 10px;
      width: 120px;
      height: 35px;
      background: #bead8e 0% 0% no-repeat padding-box;
      border: none;
      box-shadow: 0px 14px 24px #bead8e66;
      cursor: pointer;
    }
    #main-button-2 {
      color: #777777;
      font-weight: 700;
      font-size: 10px;
      width: 120px;
      height: 35px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 2px solid #e0e0e0;
      cursor: pointer;
    }
  }
  .full-screen-main-image{
    display: none;
  }
}

.book-panel {
  margin-top: 30px;
  text-align: center;
  .check-in-line-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 70px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 14px 24px #8b8b8b0f;
    margin: 0px 20px 10px;
    .check-in-panel {
      display: inline-block;
      font-weight: 700;
      font-size: 10px;
      padding-bottom: 40px;
      padding-left: 20px; 
      color: #777777;
      .check-in-input{
        margin-top: 20px;
        border: none;
        border-bottom: 1px solid #777777;
        padding: 5px 0;
        color: #bead8e;
        &:focus{
          outline: none;
          border-color: #bead8e;
        }
      }
    }
  }
  .book-button {
    color: white;
    font-family: "Old Standard TT", serif;
    font-size: 20px;
    width: 120px;
    height: 35px;
    background: #bead8e 0% 0% no-repeat padding-box;
    border: none;
    cursor: pointer;
  }
}

.arrow-down-section{
  display: none;
}

.section-header {
  margin: 10px 15px;
  display: inline-flex;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #777777;
  .since {
    padding-right: 5px;
  }
  .year {
    color: #bead8e;
  }
}
.section-body-center {
  padding: 0px 10px 25px;
  text-align: center;
  font-family: "Old Standard TT", serif;
  font-size: 28px;
  letter-spacing: -2.16px;
}
.services-grid {
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-gap: 20px 20px;
  .service-card {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 14px 24px #b8b8b81a;
    width: 150px;
    height: 150px;
    border: none;
    .service-icon {
      color: #bead8e;
      font-size: 45px;
      width: 40px;
      height: 40px;
    }
    .service-card-text {
      padding-top: 5px;
      color: #222222;
      font-size: 9px;
      font-weight: 700;
      letter-spacing: 2.4px;
    }
    &:hover {
      box-shadow: 5px 14px 24px #bead8e;
    }
    #luxury-icon{
      opacity: 0.8;
    }
  }
  .service-card-negative {
    background: #bead8e 0% 0% no-repeat padding-box;
    box-shadow: 0px 14px 24px #bead8e4d;
    width: 150px;
    height: 150px;
    border: none;
    .service-icon {
      width: 40px;
      height: 40px;
    }
    .service-card-text-negative {
      padding-top: 5px;
      color: white;
      font-size: 9px;
      font-weight: 700;
      letter-spacing: 2.4px;
    }
    &:hover {
      box-shadow: 5px 14px 24px #bead8e;
    }
  }
  #bbq-party{
    display: none;
  }
}

.section-body{
    padding: 0px 15px 15px;
    text-align: left;
    font-family: "Old Standard TT", serif;
    font-size: 28px;
    letter-spacing: -2.16px;
}

.room-type-section{
    margin-top: 20px;
}

.room-type-nav{
    display: flex;
    justify-content: center;
    .room-type-nav-button{
        text-align: center;
        width: 80px;
        font-weight: 700;
        font-size: 10px;
        padding: 15px 10px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid white;
        color: #B6B6B6;
        &:hover{
            color: black;
            border: 2px solid #E6E6E6;
        }
    }
}

.room-type-grid{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 400px;
    margin: 20px 0;
  .room-type-grid-item{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 150px 15px 15px;

    .room-type-grid-data{
      display: flex;
      font-size: 10px;
      letter-spacing: 1.8px;
      .grid-icon{
        padding-right: 5px;
      }
    }
    .room-type-grid-title{
      font-size: 18px;
      font-family: "Old Standard TT", serif;
    }
  }
  #room-type-1{
    background-image: url('../Images/pexels-max-vakhtbovych-6394711.jpg');
    grid-row-start: 1;
    grid-row-end: 3;
  }
  #room-type-2{
    background-image: url('../Images/pexels-quark-studio-2507014.jpg');
    grid-row-start: 1;
    grid-row-end: 3;
  }
  #room-type-3{
    background-image: url('../Images/pexels-cottonbro-6466490\ \(1\).jpg');
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #room-type-4{
    display: none;
  }
  
}
#view-all-button{
  display: none;
}


.paragraph-and-button{
    display: flex;
    margin: 0 15px 30px;
    align-items: center;
    .action-paragraph{
        width:90%;
        color: #A08D69;
        line-height: 23px;
    }
    .action-button{
        color: white;
        font-weight: 700;
        font-size: 8px;
        letter-spacing: 1.8px;
        width: 125px;
        height: 35px;
        background: black 0% 0% no-repeat padding-box;
        border: none;
        cursor: pointer;
    }
}

.tour-advantages{
    margin: 0 15px;
    .individual-advantage{
        margin: 15px 0;
        display: flex;
        align-items: center;
        .advantage-icon-frame{
          text-align: center;
          width: 70px;
          height: 70px;
          min-width: 70px;
          min-height: 70px;
          border-radius: 50%;
          box-shadow: 0px 8px 16px #BEAD8E33;
          .advantage-icon{
            padding: 12px 0;
            font-size: 46px;
            color: #BEAD8E;
          }
          #negative-icon{
            color: white; 
          }
        }
        #negative-frame{
          background: #BEAD8E 0% 0% no-repeat padding-box;
          box-shadow: 0px 8px 16px #BEAD8E33;
        }
        .advantage-text-container{
            margin-left: 15px;
            margin-bottom: 15px;
            .advantage-title{
                font-size: 20px;
                margin-bottom: 7px;
                font-family: "Old Standard TT", serif;
                letter-spacing: -0.9px;
                color: #111111;
            }
            .advantage-paragraph{
                text-align: justify;
                font-size: 10px;
                line-height: 17px;
                color: #777777;
            }
        }
    }
}

.border-bottom-advantages{
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
    height: 7px;
    background: #BEAD8E 0% 0% no-repeat padding-box;
}

.carousel-section{
  background-color: grey;
  justify-content: center;
  height: 280px;
  .carousel-container{
    width: 100%;

  }
  .carousel-detail-box{
    width: 45%;
    height: 170px;
    padding: 15px;
    margin: 40px;
    background: #111111 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 32px #11111133;
    color: #BEAD8E;
    .carousel-detail-box-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .carousel-detail-box-icon{
        font-size: 20px;
      }
      .carousel-detail-box-counter{
        font-size: 8px;
        font-weight: 700;
      }
    }
    .carousel-detail-box-title{
      padding-top: 15px;
      color: white;
      font-family: "Old Standard TT", serif;
      font-size: 18px;
      letter-spacing: -0.8;
    }
    .carousel-detail-box-description{
      padding-top: 15px;
      line-height: 13px;
      color: #D4D4D4;
      font-size: 9px;
    }
  }

}

.take-a-tour-paragraph{
  margin: 0 15px 20px;
  text-align: justify;
  padding-right: 70px;
  font-size: 12px;
  color: #777777;
}

.feedback-container{
  margin: 1px;
  display: flex;
  justify-content: center;
  .feedback-card{
    text-align: center;
    max-width: 50%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 14px 24px #BEAD8E33;
    .feedback-image{
      object-fit: cover;
      width:30%;
      margin: 20px 30px;
      border-radius: 50%;
    }
    .feedback-check{
      display: none;
      position: absolute;
      left: 30%;
      margin-left: -8px;
      border-radius: 50%;
    }
    .feedback-name{
      margin-bottom: 5px;
      font-family: "Old Standard TT", serif;
      font-size: 20px;
      letter-spacing: -0.9px;
      color: #222222;
    }
    .feedback-job{
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 10px;
      letter-spacing: 2.8px;
      color: #BDAC8D;
    }
    .feedback-description{
      padding: 0 20px 20px;
      font-size: 12px;
      letter-spacing: 0px;
      color: #777777;
    }
  }
}

.testimonials-extra-panel{
  margin: 20px 0;
  padding: 20px 15px;
  font-family: "Old Standard TT", serif;
  font-size: 25px;
  color: white;
  text-align: center;
  letter-spacing: -1.4px;
  background-image: url('../Images/pexels-photo-2507007.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .section-header{
    display: none;
  }
  .extra-panel-button-line{
    display: none;
  }
}

.section-body-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .section-body{
    padding-bottom: 0;
  }
  .blog-button-line{
    margin-right: 15px;
    text-align: center;
    .blog-button{
      width: 40px;
      height: 40px;
      border: none;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 2px solid #e0e0e0;
      cursor: pointer;
      .blog-arrow-left{
        font-size: 10px;
      }
      .blog-arrow-right{
        font-size: 10px;
        color: white;
      }
    }
    #golden-button{
      border-color: #BEAD8E;
      background: #BEAD8E 0% 0% no-repeat padding-box;
      box-shadow: 0px 14px 24px #BEAD8E4D;
    }
  }
}

.post-container{
  display: flex;
  justify-content: center;
  margin: 20px 0;
  .post{
    text-align: left;
    max-width: 50%;
    .post-image{
      max-width: 100%;
      display: block;
    }
    .post-data{
      display: flex;
      justify-content: space-around;
      font-size: 10px;
      .post-card-data{
        display: flex;
        align-items: center;
        color: #777777;
        .news-feeds-icon{
          padding: 4px;
        }
      }
    }
    .post-title{
      font-family: "Old Standard TT", serif;
      font-size: 14px;
      line-height: 19px;
      color: #111111;
      margin: 5px 0;
      padding: 0 7px;
    }
    .post-description{
      font-size: 12px;
      line-height: 17px;
      color: #777777;
      margin: 5px 0;
      padding: 0 7px;
    }
  }
}

.subscribe-section{
  display: none;
}

