@import 'normalize';
@import 'nav-bar';
@import 'nav-bar-1000px';
@import 'home-body';
@import 'home-body-1000px';
@import 'font-awesome';
@import 'footer';
@import 'footer-1000px';
@import 'about-us';
@import 'about-us-1000px';
@import 'room-list';
@import 'room-list-1000px';
@import 'room-offers-1000px';
@import 'single-room';
@import 'single-room-1000px';
@import 'contact';
@import 'contact-1000px';

html, *{
    box-sizing: border-box;
    margin: 0;
}

html{
    background: #ffffff 0% 0% no-repeat padding-box;
}

body{
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    font-family: 'Archivo', sans-serif;
}