.hotel-miranda-icon{
  display: none;
}
.header {
    margin: none;
    .header-bar {
        display: inline-flex;
        position: relative;
        z-index: 1;
        width: 100%;
        min-height: 80px;
        justify-content: space-between;
        align-items: center;
        .hotel-miranda-title {
          width:50%;
          padding-top: 12px;
          margin-left: 30px;
          letter-spacing: 2.6px;
          color: #111111;
          font-size: 20px;
          opacity: 1;

          .hotel-bold{
            font-weight: bold;
          }
          }
        .hamburger-button {
          margin-right: 25px;
          font-size: 30px;
          color: #40505c;
          cursor: pointer;
          }
    }
    .drop-down-box {
        display: none;
        width: 90%;
        background-color: #f7f9fa;
        position: absolute;
        right: 0px;
        z-index: 0;
        text-align: right;
      
        .drop-down-list {
          list-style-type: none;
          align-items: center;
          width: 100%;
          padding: 15px 20px;
      
          .drop-down-element {
            padding: 10px;
            background: #c4bdaf no-repeat fixed center;
            color: #FFFFFF;
            padding-right: 40px;
            font-family: 'Archivo Narrow', sans-serif;
            letter-spacing: 1.5px;
          }
          .space{
              height: 10px;
          }
        }
        .contact-and-icon{
          display: inline-flex;
          padding: 0px 20px;
          font-size: 30px;
          color: #40505c;
          .contact-text{
            display:none;
          }
          .drop-down-contact{
            color: #40505c;
            padding: 5px 20px;
            font-size: 18px;
            font-family: 'Archivo Narrow', sans-serif;
            letter-spacing: 1.5px;

        }
          .drop-down-icon{
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
          }
        }

        &--visible {
          display: block;
          //animation: displayMenu 200ms linear;
        }
      
        /*@keyframes displayMenu {
          0% {
            top: 0;
          }
          100% {
            top: 70px;
          }
        }*/
    }
    a, a:visited {
      color: inherit;
      text-decoration: none;
  }
}

