@media only screen and (min-width: 1000px){
    #hamburger-button{
      display: none;
    }
  
    .header{
      padding-top: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .header-bar{
        width: 243px;
        margin: 0 auto;
        .hotel-miranda-title{
          display: flex;
          align-items: center;
          justify-content: center;
          position:absolute;
          margin-left: -121.5px;
          left: 50%;
          width: 243px;
          font-size: 26px;
          padding-top: 0;
          .hotel-miranda-icon{
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            font-size: 40px;
            font-weight: 700;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 14px 24px #8B8B8B1A;
          }
        }
      }
      .drop-down-box{
        display: flex;
        width: 100%;
        justify-content: space-between;

        .drop-down-list{
          display: flex;
          margin: 0;
          padding: 0;
          padding-left: 3%;
          align-items: center;
          color: white;
          .drop-down-element{
            padding-right: 25px;
            padding-left: 0;
            font-family: 'Archivo', sans-serif;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0px;
            color: #111111;
            background-color: #f8f8f8;
            cursor: pointer;
          }
        }
        .contact-and-icon-container{
          display: flex;
          padding-right: 3%;
          .contact-and-icon{
            display: flex;
            width: 100%;
            flex-direction: row-reverse;
            align-items: center;
            padding:0;
            padding-left: 10px;
            color: #111111;
            .contact-text{
              display: flex;
              padding-left: 10px;
              padding-bottom: 5px;
              font-weight: 600;
              font-size: 12px;
              color: #777777;
            }
            .drop-down-contact{
              min-width: 140px;
              padding: 0;
              font-size: 17px;
              font-family: "Old Standard TT", serif;
              letter-spacing: 0px;
            }
            .drop-down-icon{
              padding: 0;
              margin: 0;
              display: inline-flex;
              font-size: 20px;
              align-items: center;
              justify-content: flex-end;
            }
        }
        }
        
  
      }
    }
  }