@media only screen and (min-width: 1000px) {
  .main-body-content-room {
    display: flex;
    justify-content: center;
    margin: 0 20%;
    .left-column {
      display: flex;
      flex-direction: column;
      margin-right: 15px;
      .single-room-section {
          position: static;
        .room-background {
          width: 770px;
          height: 490px;
          margin-bottom: 55px;
          
        }
        .white-background {
            display: flex;
            position: static;
            flex-direction: column;
            justify-content: center;
            background-color: white;
            width: 730px;
            padding: 30px 0;
            margin-bottom: -90px;
            .section-header {
              margin-left: 50px;
            }
            .single-room-name-price {
              display: flex;
              align-items: center;
              width: 730px;
              padding: 0 0 19px;
              margin-left: 0;
              background-color: white;
              .single-room-name {
                font-size: 48px;
                letter-spacing: -1.44px;
              }
              .single-room-price {
                padding: 0;
                margin: 0;
                .single-room-price-number {
                  font-size: 40px;
                }
                .single-room-price-night {
                  font-size: 16px;
                }
              }
            }
          }
      }
      .check-availability-container {
        .check-availability-header {
          display: none;
        }
        .check-availability-form-container {
          display: none;
        }
        .center {
          display: none;
        }
        .check-availability-description {
          max-width: 769px;
          font-size: 16px;
          line-height: 24px;
          padding: 0;
          margin: 0;
          margin-bottom: 89px;
        }
      }
      .single-room-amenities {
        padding: 30px;
        margin-bottom: 69px;
        .single-room-amenities-container {
          max-width: 769px;
          min-height: 250px;
          font-size: 16px;
          .amenities-list {
            .amenities-individual {
              padding: 14px 45px;
              .amenities-individual-icon {
                color: #bead8e;
              }
            }
          }
        }
      }
      #availability-description-extra {
        display: block;
        max-width: 769px;
        font-size: 16px;
        line-height: 24px;
        padding: 0;
        margin: 0;
        margin-bottom: 41px;
        color: #777777;
      }
      .testimonials-section {
        width: 770px;
        .section-header {
          display: none;
        }
        .section-body {
          display: none;
        }
      }
      .house-rules-section {
        display: block;
        max-width: 769px;
        margin-bottom: 157px;
        .house-rules {
          margin-top: 37px;
          list-style: none;
          .house-individual-rule {
            display: flex;
            padding: 10px 0;
            .house-rules-icon {
              color: #bdac8d;
              padding-right: 5px;
            }
            .house-rules-text {
              font-size: 16px;
              color: #777777;
            }
          }
        }
      }
      .cancellation-section {
        max-width: 769px;
        padding: 30px;
        margin-bottom: 109px;
        .cancellation-text {
          margin-top: 36px;
          font-size: 16px;
          line-height: 26px;
        }
      }
      .location {
        width: 770px;
        height: 389px;
      }
      .related-rooms-section {
        max-width: 769px;
        #related-title-pc {
          padding-bottom: 13px;
          font-size: 30px;
        }
        .divisor {
          display: block;
        }
        .related-room-list {
          display: flex;
          margin: 40px auto 250px;
          max-width: 740px;
          .related-room-card {
            padding: 0 5px;
          }
        }
      }
    }

    .check-availability-form-container {
      display: flex;
      flex-direction: column;
      min-width: 370px;
      height: 814px;
      margin-top: 0;
      padding-top: 20px;
      align-items: center;
      justify-content: flex-start;
      color: #222222;
      background-color: #ffffff;
      .check-availability-form-header {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 28px;
      }
      .check-availability-form {
        width: 78%;
        .form-input-container {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          color: #222222;
          .check-label {
            margin-bottom: 13px;
            font-size: 14px;
            font-weight: 700;
          }
          .check-availability-form-input {
            padding: 22px 29px;
            height: 60px;
            color: #777777;
            font-size: 14px;
            border: none;
            background: #f8f8f8 0% 0% no-repeat padding-box;
            &:focus {
              outline: none;
            }
            
          }
        }
      }
      .center {
        .wide-golden-button {
          width: 78%;
          cursor: pointer;
        }
      }
    }
  }
  .single-room-common-title {
    padding-left: 50px;
    padding-bottom: 13px;
    font-size: 30px;
  }
}
