.room-detail-main{
    display: none;
}

.single-room-section{
    width: 100%;
    .room-background{
        background-image: url('../Images/pexels-photo-1457845.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        .single-room-name-price{
            display: flex;
            width: 75%;
            justify-content: space-around;
            align-items: center;
            margin-top: 10px;
            background-color: white;
            .single-room-name{
                font-family: 'Old Standard TT', sans-serif;
            }
            .single-room-price{
                display: flex;
                margin-bottom: 15px;
                .single-room-price-number{
                    font-size: 15px;
                    font-weight: 700;
                    color: #BEAD8E;
                }
                .single-room-price-night{
                    font-size: 10px;
                    font-weight: 700;
                    color: #BEAD8E;
                }
            }
        }
    }
    
}

.check-availability-container { 
    margin: 15px 0;
    width: 100%;
    max-width: 100%;
	.check-availability-header { 
        margin-left: 25px;
        font-weight: 700;
        font-size: 12px;
	}

	.check-availability-form-container { 
        display: flex;
        justify-content: space-between;

		.check-availability-check-in-container { 
            margin: 10px;
            color: #222222;
			.check-in-header { 
                margin-bottom: 5px;
                font-weight: 700;
                font-size: 10px;
			}

			.check-in-input { 
                font-size: 10px;
                text-align: left;
                padding: 10px 30px 10px 10px;
                letter-spacing: 0px;
                color: #777777;
                border: none;
                background: #F8F8F8 0% 0% no-repeat padding-box;

                &:focus{
                    outline: none;
                    border-color: #bead8e;
                }
			}
		}
	}
	.check-availability-description { 
        font-size: 10px;
        margin: 15px;
        color: #777777;
        
	}
}
#availability-description-extra{
    display: none;
}
.center{
    width: 100%;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .wide-golden-button{
        width: 60%;
        text-align: center;
        padding: 17px;
        letter-spacing: 1.8px;
        font-size: 10px;
        font-weight: 700;
        color: #FFFFFF;
        border: none;
        background: #BEAD8E 0% 0% no-repeat padding-box;
    }
}
.single-room-common-title { 
    font-family: 'Old Standard TT', sans-serif;
    padding-bottom: 5px;
    
}
.divisor{
    width: 100%;
    height: 0.5px;
    background: #F1F1F1 0% 0% no-repeat padding-box;
    margin-bottom: 5px;
}
.single-room-amenities { 
    margin: 15px 15px 0;


	.single-room-amenities-container { 
        display: flex;
        max-height: 120px;
        font-size: 12px;
		.amenities-list { 
            list-style: none;
            display: flex;
            padding: 0;
            flex-direction: column;
            flex-wrap: wrap;
			.amenities-individual { 
                display: flex;
                align-items: center;

                .amenities-individual-icon{
                    padding:5px;
                }

				.amenities-individual-name { 
                    font-weight: 700;
                    padding-right: 5px;
                    color: #777777;
				}
			}
		}
	}
}
.house-rules-section{
    display: none;
}

.cancellation-section { 
    margin: 25px 15px;
	.cancellation-text { 
        color: #777777;
        font-size: 11px;
	}


}
.location { 
    margin: 10px 0;
    width: 100%;
    height: 200px;
    background-color: grey;
}

.related-rooms-section{
    .divisor{
        display:none;
    }
}

.related-room-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    box-shadow: 0px 14px 24px #BEAD8E33;
    .related-room-image{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        .room-icon-bar{
            width: 60%;
            display: flex;
            justify-content: space-between;
            margin-top: 185px;
            padding: 10px;
            background-color: white;
            box-shadow: 0px 8px 16px #8A8A8A0A;
        }
    }
    #image-1{
        background-image: url('../Images/pexels-engin-akyurt-1579253 (1).jpg'); 
    }    
    #image-2{
        background-image: url('../Images/pexels-max-vakhtbovych-6434631.jpg'); 
    }
    .room-list-card-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10px 5px;
        .room-list-card-information{
            width: 70%;
            margin: 20px 5px 10px;
            .room-list-card-title{
                margin-bottom: 10px;
                font-family: 'Old Standard TT', sans-serif;
                font-size: 19px;
            }
            .room-list-card-text{
                color: #777777;
                font-size: 12px;
                line-height: 18px;
            }
        }
        .room-list-card-booking{
            display: flex;
            text-align: center;
            align-items: center;
            .room-list-card-price{
                display: flex;
                align-items: flex-end;
                padding: 0 10px;
                .room-list-price-number{
                    font-size: 16px;
                    font-weight: 700;
                    color: #BEAD8E;
                }
                .room-list-price-night{
                    font-size: 14px;
                    font-weight: 700;
                    color: #BEAD8E;
                }
            }
            .room-list-card-booking-text{
                font-weight: 700;
                color: #BDBDBD;
                padding: 0 10px;
            }
        }
    }
}
.check-availability-form-container{
    display: none;
}

@media only screen and (min-width: 1000px){
    .main-body-content-room{
        display:flex;
        justify-content: center;
        margin: 0 20%;
        .left-column{
            display: flex;
            flex-direction: column;
            .single-room-section{

                .room-background{
                    width: 770px;
                    height: 490px; 
                    margin-bottom: 55px;
                }
                .white-background{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: white;
                    width: 730px;
                    .section-header{
                        margin-left: 50px;
                    }
                    .single-room-name-price{
                        display: flex;
                        align-items: center;
                        width: 730px;
                        padding: 0 0 19px;
                        margin-left: 0;
                        .single-room-name{
                            font-size: 48px;
                            letter-spacing: -1.44px;
                        }
                        .single-room-price{
                            padding: 0;
                            margin: 0;
                            .single-room-price-number{
                                font-size: 40px;
                            }
                            .single-room-price-night{
                                font-size: 16px;
                            }
                        }
                    }
                }

            }
            .check-availability-container{
                .check-availability-header{
                    display: none;
                }
                .check-availability-form-container{
                    display: none;
                }
                .center{
                    display: none;
                }
                .check-availability-description{
                    max-width: 769px;
                    font-size: 16px;
                    line-height: 24px;;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 89px;
                }
            }
            .single-room-amenities{
                margin-bottom: 89px;
                .single-room-amenities-container{
                    max-width: 769px;
                    min-height: 250px;
                    font-size: 16px;
                    .amenities-list{
                        .amenities-individual{
                            padding: 14px 45px;
                            .amenities-individual-icon{
                                color: #BEAD8E;
                            }
                        }
                    }
                }
            }
            #availability-description-extra{
                display: block;
                max-width: 769px;
                font-size: 16px;
                line-height: 24px;;
                padding: 0;
                margin: 0;
                margin-bottom: 41px;
                color: #777777;
            }
            .testimonials-section{
                width: 770px;
                .section-header{
                    display: none;
                }
                .section-body{
                    display: none;
                }
            }
            .house-rules-section{
                display: block;
                max-width: 769px;
                margin-bottom: 157px;
                .house-rules{
                    margin-top: 37px;
                    list-style: none;
                    .house-individual-rule{
                        display:flex;
                        padding: 10px 0;
                        .house-rules-icon{
                            color: #BDAC8D;
                            padding-right: 5px;
                        }
                        .house-rules-text{
                            font-size: 16px;
                            color: #777777;
                        }
                    }
                }
            }
            .cancellation-section{
                max-width: 769px;
                margin-bottom: 109px;
                .cancellation-text{
                    margin-top: 36px;
                    font-size: 16px;
                    line-height: 26px;
                }
            }
            .location{
                width: 770px;
                height: 389px;
            }
            .related-rooms-section{
                max-width: 769px;
                #related-title-pc{
                    padding-bottom: 13px;
                    font-size: 30px;
                }
                .divisor{
                    display: block;
                }
                .related-room-list{
                    display: flex;
                    margin: 40px auto 250px;
                    max-width: 740px;
                    .related-room-card{
                        padding: 0 5px;
                    }
                }
            }
    }
    
        .check-availability-form-container{
            display: flex;
            flex-direction: column;
            width: 370px;
            height: 614px;
            align-items: center;
            justify-content: flex-start;
            color: #222222;
            .check-availability-form-header{
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 28px;
            }
            .check-availability-form{
                width: 78%;
                .form-input-container{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    color: #222222;
                    .check-label{
                        margin-bottom: 13px;
                        font-size: 14px;
                        font-weight: 700;
                    }
                    .check-availability-form-input{
                        padding: 22px 29px;
                        height: 60px;
                        color: #777777;
                        font-size: 14px;
                        border: none;
                        background: #F8F8F8 0% 0% no-repeat padding-box;
                        &:focus{
                            outline: none;
                        }
                    }
                }

            }
            .center{
                .wide-golden-button{
                    width: 78%;
                }
            }
        }
    }
    .single-room-common-title{
        padding-left: 50px;
        padding-bottom: 13px;
        font-size: 30px;
    }
}